
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.button 
{

    -webkit-transition-duration: 0.4s; /* vurgunun süresini yrlıyor */
   
    transition-duration: 0.4s;
    font-size: 18px;
    padding: 14px 30px;
    border-radius: 6px;
    float: right;
  
   
   
  
    
}
.button-anasayfa
{
    -webkit-transition-duration: 0.4s; /* vurgunun süresini yrlıyor */
   
    transition-duration: 0.4s;
    font-size: 18px;
    padding: 20px 20px;
    border-radius: 30px;
   
  
}
.button-anasayfa:hover
{
   
    background-color: silver;
   
    color: white;
    
}
   
.button:hover 
{
   
    background-color: silver;
   
    color: white;
    
}
.slider
{
    width: 150px;
    height: 100px;

}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
body {
    padding: 20px 0;
    font-family: Lato, sans-serif;
  }

